<h2 class="display-7">Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label class="display-7" for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label class="display-7" for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn alert-dark" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
